.navbar{
    height:100px;
}
.navbar .container-fluid .collapse .navbar-nav .nav-item{
    margin-left: 20%;
    margin-right: 4rem;
}

body{
    font-family: "Source Sans 3",sans-serif;
}
.footer {
    background-color: #343a40; /* Dark background color */
    color: #ffffff; /* White text color */
    padding-top: 40px; /* Add some padding at the top */
    width: 100%;
    height: fit-content;
}

.footer h5 {
    color: #ffffff; /* White text color for headings */
}

.footer ul {
    list-style: none; /* Remove bullet points */
    padding-left: 0; /* Remove default padding */
}

.footer ul li {
    margin-bottom: 10px; /* Add some space between list items */
}

.footer a {
    color: #ffffff; /* White text color for links */
}

.footer a:hover {
    color: #cccccc; /* Lighter color on hover */
}

.footer .p-3 {
    background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent background color for footer bottom */
}

.footer .row .col .list-unstyled{
    margin-left: 100px;
    text-decoration: none;
}

.footer .row .col .list-unstyled .foot-link{
    text-decoration: none;
}


.footer .row .col h5{
    margin-left: 100px;
}
